In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('brutes/donnees_socio_economiques.csv')
df1.head()

,code_insee_com,nom_com,niveau_vie_median_2021,nb_logements_2022,Pourcentage_appartements_2022,pourcentage_locataires_dans_résidence_principale_2022,evolution_annuelle_moy_de_la_population_entre_2017_et_ 2023_en_pourcentage,population_municipale_2023,Taux_activite_tranche_15-64_en_2022
0,1001,L'Abergement-Clémenciat,25820,379,2.4,13.8,1.73,860,82.1
1,1002,L'Abergement-de-Varey,24480,175,1.1,9.9,1.43,270,80.1
2,1004,Ambérieu-en-Bugey,21660,7973,54.1,53.1,2.14,15934,76.7
3,1005,Ambérieux-en-Dombes,24610,921,26.5,25.2,2.03,1906,81.3
4,1006,Ambléon,24210,71,4.2,26.3,0.59,115,70.8

In [3]:
df1 = pd.read_csv('brutes/donnees_geo_climatiques.csv')
df1.head()

,code_insee_com,nom_com,reg_code,reg_nom,dep_code,dep_nom,population,superficie_km2,densite,latitude,...,RR_med,NBJRR1_med,NBJRR5_med,NBJRR10_med,Tmin_med,Tmax_med,Tens_vap_med,Force_vent_med,Insolation_med,Rayonnement_med
0,1001,Abergement-Clémenciat,84,Auvergne-Rhône-Alpes,1,Ain,832,16,53.0,46.153,...,66.00,10.0,4.0,2.0,7.05,17.1,10.35,2.6,3059.0,12079.0
1,1002,Abergement-de-Varey,84,Auvergne-Rhône-Alpes,1,Ain,267,9,29.0,46.009,...,104.80,10.0,6.0,4.0,6.60,17.6,10.75,1.1,2934.0,11543.5
2,1004,Ambérieu-en-Bugey,84,Auvergne-Rhône-Alpes,1,Ain,14854,24,607.0,45.961,...,86.85,10.0,5.0,3.0,6.30,16.6,10.15,2.5,2934.0,11543.5
3,1005,Ambérieux-en-Dombes,84,Auvergne-Rhône-Alpes,1,Ain,1897,16,118.0,45.996,...,63.80,9.0,4.0,2.0,7.05,17.1,10.40,1.8,2314.0,NaN
4,1006,Ambléon,84,Auvergne-Rhône-Alpes,1,Ain,113,6,19.0,45.750,...,89.80,9.0,5.0,3.0,7.30,17.5,10.30,1.8,3314.0,13004.0

In [4]:
df1 = pd.read_csv('brutes/mesures_occitanie_journaliere_pollution.csv')
df1.head()

,nom_dept,nom_com,code_insee_com,nom_station,code_station,typologie,influence,nom_poll,valeur_poll,jour,mois,annee
0,TARN-ET-GARONNE,MONTAUBAN,82121,Montauban - Ramierou Urbain,FR50060,Urbaine,Fond,NOX,12.7,8,1,2023
1,TARN-ET-GARONNE,MONTAUBAN,82121,Montauban - Ramierou Urbain,FR50060,Urbaine,Fond,NOX,9.9,9,1,2023
2,TARN-ET-GARONNE,MONTAUBAN,82121,Montauban - Ramierou Urbain,FR50060,Urbaine,Fond,NOX,39.1,11,1,2023
3,TARN-ET-GARONNE,MONTAUBAN,82121,Montauban - Ramierou Urbain,FR50060,Urbaine,Fond,NOX,68.6,12,1,2023
4,TARN-ET-GARONNE,MONTAUBAN,82121,Montauban - Ramierou Urbain,FR50060,Urbaine,Fond,NOX,41.8,13,1,2023